body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('img/guitar.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: silver;
}

p{
    color: silver;
}

div{
    margin-bottom: 20px;
}